# OpenAI API key
OPENAI_API_KEY=

# Setlist.fm API key
SETLIST_FM_API_KEY=

# Spotify API credentials
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=

# CORS allowed origins for the backend server, in JSON array format
ALLOW_ORIGINS=["http://localhost:3000"]